{% extends 'base.html' %}

{% load static %}


{% block navbar %}
<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.html">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">My Account</li>
		</ol>
	</div>
</nav>
{% endblock navbar %}


{% block content %}
<div class="page-section sp-inner-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <!-- My Account Tab Menu Start -->
                    <div class="col-lg-3 col-12">
                        <div class="myaccount-tab-menu nav" role="tablist">
                            <a href="#dashboad" class="active" data-toggle="tab"><i class="fas fa-tachometer-alt"></i>
                                Dashboard</a>

                            <a href="#orders" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>

                            <a href="#payment-method" data-toggle="tab"><i class="fa fa-credit-card"></i> Payment
                                Method</a>

                            <a href="#address-edit" data-toggle="tab"><i class="fa fa-map-marker"></i> address</a>

                            <a href="#account-info" data-toggle="tab"><i class="fa fa-user"></i> Account Details</a>

                            <a href="logout/"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        </div>
                    </div>
                    <!-- My Account Tab Menu End -->

                    <!-- My Account Tab Content Start -->
                    <div class="col-lg-9 col-12 mt--30 mt-lg-0">
                        <div class="tab-content" id="myaccountContent">
                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
                                <div class="myaccount-content">
                                    <h3>Dashboard</h3>

                                    <div class="welcome mb-20">
                                        <p>Hello, <strong>{{request.user.username}}</strong> (If Not <strong>{{request.user.username}} ! </strong><a href="login-register.html" class="logout"> Logout</a>)</p>
                                    </div>

                                    <p class="mb-0">From your account dashboard. you can easily check &amp; view your
                                        recent orders, manage your shipping and billing addresses and edit your
                                        password and account details.</p>
                                </div>
                            </div>
                            <!-- Single Tab Content End -->

                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade" id="orders" role="tabpanel">
                                <div class="myaccount-content">
                                    <h3>Orders</h3>

                                    <div class="myaccount-table table-responsive text-center">
                                        <table class="table table-bordered">
                                            <thead class="thead-light">
                                            <tr>
                                                <th>Order ID</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Total</th>
                                                <!-- <th>Action</th> -->
                                            </tr>
                                            </thead>

                                            <tbody>
                                            
                                            {% for item in order_data %}
                                                <tr>
                                                    <td>{{item.order_id}}</td>
                                                    <td>{{item.order_date}}</td>
                                                    <td>{{item.status}}</td>
                                                    <td>{{item.total}} LKR</td>
                                                    <!-- <td><a href="cart.html" class="btn">View</a></td> -->
                                                </tr>
                                            {% endfor %}


                                            <!-- <tr>
                                                <td>1</td>
                                                <td>Mostarizing Oil</td>
                                                <td>Aug 22, 2018</td>
                                                <td>Pending</td>
                                                <td>$45</td>
                                                <td><a href="cart.html" class="btn">View</a></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Katopeno Altuni</td>
                                                <td>July 22, 2018</td>
                                                <td>Approved</td>
                                                <td>$100</td>
                                                <td><a href="cart.html" class="btn">View</a></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Murikhete Paris</td>
                                                <td>June 12, 2017</td>
                                                <td>On Hold</td>
                                                <td>$99</td>
                                                <td><a href="cart.html" class="btn">View</a></td>
                                            </tr> -->

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Tab Content End -->

                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade" id="payment-method" role="tabpanel">
                                <div class="myaccount-content">
                                    <h3>Payment Method</h3>

                                    <p class="saved-message">You Can't Saved Your Payment Method yet.</p>
                                </div>
                            </div>
                            <!-- Single Tab Content End -->

                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade" id="address-edit" role="tabpanel">
                                <div class="myaccount-content">
                                    <h3>Billing Address</h3>

                                    <address>

                                        {% if user_data.fname == '' and user_data.address == '' %}
                                            <p class="saved-message">You didnt set your billing address yet.</p>
                                        {% else %}
                                            <p><strong>{{ user_data.fname }} {{user_data.lname}}</strong></p>
                                            <p>{{user_data.address}}</p>
                                        {% endif %}

                                        
                                    </address>

                                    <!-- <a href="#" class="theme-btn"><i class="fa fa-edit"></i>Edit Address</a> -->
                                </div>
                            </div>
                            <!-- Single Tab Content End -->

                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade" id="account-info" role="tabpanel">
                                <div class="myaccount-content">
                                    <h3>Account Details</h3>

                                    <div class="account-details-form">
                                        <form action="/update_account/" method="POST">

                                            <p class="saved-message" style="color:red;">
                                                {% for message in messages %}
                                                    {{message}} <br />
                                                {% endfor %}
                                                
                                            </p>

                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-6 col-12 mb-30">
                                                    <input required value="{{user_data.fname}}" minlength="6" name="fname" id="first-name" placeholder="First Name" type="text">
                                                </div>

                                                <div class="col-lg-6 col-12 mb-30">
                                                    <input required value="{{user_data.lname}}" minlength="6" name="lname" id="last-name" placeholder="Last Name" type="text">
                                                </div>

                                                <div class="col-12 mb-30">
                                                    <input required value="{{user_data.mobile_number}}" minlength="10" name="mobile" id="display-name" placeholder="Mobile Number" type="text">
                                                </div>

                                                <div class="col-12 mb-30">
                                                    <textarea id="order-note" class="order-note" rows="4" cols="50" required  minlength="15" name="address"  placeholder="Address">{{user_data.address}}</textarea>
                                                </div>

                                                <div class="col-lg-6 col-12 mb-30">
                                                    <input required value="{{user_data.town}}" minlength="6" name="town" id="first-name" placeholder="Town" type="text">
                                                </div>

                                                <div class="col-lg-6 col-12 mb-30">
                                                    <input required value="{{user_data.state}}" minlength="6" name="state" id="first-name" placeholder="State" type="text">
                                                </div>

                                                <div class="col-lg-6 col-12 mb-30">
                                                    <input required value="{{user_data.zipcode}}" minlength="6" name="zipcode" id="first-name" placeholder="Zip Code" type="text">
                                                </div>

                                                <div class="col-12 mb-30"><h4>Password change</h4></div>

                                                <div class="col-12 mb-30">
                                                    <input name="current_password" id="current-pwd" placeholder="Current Password" type="password">
                                                </div>

                                                <div class="col-lg-6 col-12 mb-30">
                                                    <input name="new_password" id="new-pwd" placeholder="New Password" type="password">
                                                </div>

                                                <div class="col-lg-6 col-12 mb-30">
                                                    <input name="comfirm_password" id="confirm-pwd" placeholder="Confirm Password" type="password">
                                                </div>

                                                <div class="col-12">
                                                    <button type="submit" class="theme-btn">Save Changes</button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Tab Content End -->
                        </div>
                    </div>
                    <!-- My Account Tab Content End -->
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}