{% extends 'base.html' %}

{% load static %}




{% block navbar %}
<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.html">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Checkout</li>
		</ol>
	</div>
</nav>
{% endblock navbar %}



{% block content %}
<main id="content" class="page-section sp-inner-page checkout-area-padding space-db--20">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<!-- Checkout Form s-->
				<div class="checkout-form">
					<div class="row row-40">
						<div class="col-12">
							<h1 class="quick-title">CHECKOUT</h1>
							<!-- Slide Down Trigger  -->
							<div class="checkout-quick-box">
								<p><i class="far fa-sticky-note"></i>Returning customer? <a href="javascript:" class="slide-trigger" data-target="#quick-login">Click
										here to login</a></p>
							</div>
							<!-- Slide Down Blox ==> Login Box  -->
							<div class="checkout-slidedown-box" id="quick-login">
								<form action="https://demo.hasthemes.com/petmark-v5/petmark/">
									<div class="quick-login-form">
										<p>If you have shopped with us before, please enter your details in the boxes below. If you are a new
											customer
											please
											proceed to the Billing & Shipping section.</p>
										<div class="form-group">
											<label for="quick-user">Username or email *</label>
											<input type="text" placeholder="">
										</div>
										<div class="form-group">
											<label for="quick-user">Password *</label>
											<input type="text" placeholder="">
										</div>
										<div class="form-group">
											<div class="d-flex align-items-center">
												<a href="#" class="btn btn-black">Login</a>
												<div class="d-inline-flex align-items-center  ml-3">
													<input type="checkbox" id="accept_terms" class="mb-0 mr-1">
													<label for="accept_terms" class="mb-0">I’ve read and accept the terms &amp; conditions</label>
												</div>
											</div>
											<p><a href="javascript:" class="pass-lost mt-3">Lost your password?</a></p>
										</div>
									</div>
								</form>

							</div>

							<!-- Slide Down Trigger  -->
							<div class="checkout-quick-box">
								<p><i class="far fa-sticky-note"></i>Have a coupon? <a href="javascript:" class="slide-trigger" data-target="#quick-cupon">
										Click here to enter your code</a></p>
							</div>
							<!-- Slide Down Blox ==> Cupon Box -->
							<div class="checkout-slidedown-box" id="quick-cupon">
								<form action="https://sandbox.payhere.lk/pay/checkout" method = "POST">

                                    {% csrf_token %}

										<input type="hidden" name="merchant_id" value="1216701">    <!-- Replace your Merchant ID -->
                                        <input type="hidden" name="return_url" value="http://localhost:8000/return/?user_id={{account.user_id}}">
                                        <input type="hidden" name="cancel_url" value="http://localhost:8000/cancel">
                                        <input type="hidden" name="notify_url" value="http://localhost:8000/notify">  
                                        <input type="hidden" name="order_id" value="ItemNo12345">
                                        <input type="hidden" name="items" value="{{item_invoice}}"><br>
                                        <input type="hidden" name="currency" value="LKR">
                                        <input type="hidden" name="amount" value="{{total}}">


                                        <!-- <input type="text" name="first_name" value="Saman">
                                        <input type="text" name="last_name" value="Perera"><br>
                                        <input type="text" name="email" value="samanp@gmail.com">
                                        <input type="text" name="phone" value="0771234567"><br>
                                        <input type="text" name="address" value="No.1, Galle Road">
                                        <input type="text" name="city" value="Colombo"> -->
                                        
                                        <input type="hidden" name="country" value="Sri Lanka"><br><br> 

									<div class="checkout_coupon">
                                        <input name="coupon_code" type="text" class="mb-0" placeholder="Coupon Code">
                                        <button type="submit" class="btn btn-black">Apply coupon</button>
									</div>

							</div>

						</div>
						<div class="col-lg-7 mb--20">
							<!-- Billing Address -->
							<div id="billing-form" class="mb-40">
								<h4 class="checkout-title">Billing Address</h4>

								<div class="row">

									<div class="col-md-6 col-12 mb--20">
										<label>First Name*</label>
										<input readonly name="first_name" value="{{account.fname}}" type="text" placeholder="First Name">
									</div>

									<div class="col-md-6 col-12 mb--20">
										<label>Last Name*</label>
										<input readonly name="last_name" value="{{account.lname}}" type="text" placeholder="Last Name">
									</div>
									
									
									<div class="col-md-6 col-12 mb--20">
										<label>Email Address*</label>
										<input readonly name="email" value="{{user.email}}" type="email" placeholder="Email Address">
									</div>
									<div class="col-md-6 col-12 mb--20">
										<label>Phone no*</label>
										<input readonly name="phone" value="{{account.mobile_number}}" type="text" placeholder="Phone number">
									</div>



									<div class="col-12 mb--20">
										<label>Address*</label>
										<input readonly name="address" value="{{account.address}}" type="text" placeholder="Address line 1">
									</div>


									<div class="col-md-6 col-12 mb--20">
										<label>Town/City*</label>
										<input readonly name="city" value="{{account.town}}" type="text" placeholder="Town/City">
									</div>

									<div class="col-md-6 col-12 mb--20">
										<label>State*</label>
										<input readonly name="state" value="{{account.state}}" type="text" placeholder="State">
									</div>

									<div class="col-md-6 col-12 mb--20">
										<label>Zip Code*</label>
										<input readonly name="zipcode" value="{{account.zipcode}}" type="text" placeholder="Zip Code">
									</div>

									<div class="col-12 mb--20 ">
										<div class="block-border check-bx-wrapper">
											<!-- <div class="check-box">
												<input type="checkbox" id="create_account">
												<label for="create_account">Create an Acount?</label>
											</div> -->
											<!-- <div class="check-box">
												<input type="checkbox" id="shiping_address" data-shipping>
												<label for="shiping_address">Ship to Different Address</label>
											</div> -->
										</div>
									</div>

								</div>

							</div>

							<!-- Shipping Address -->

							<div class="order-note-block mt--30">
								<label for="order-note">Order notes</label>
								<textarea name="order_note"  id="order-note" cols="30" rows="10" class="order-note" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
							</div>


						</div>



						<div class="col-lg-5">
							<div class="row">
								<!-- Cart Total -->
								<div class="col-12">
									<div class="checkout-cart-total">
										<h2 class="checkout-title">YOUR ORDER</h2>
										<h4>Product <span>Total</span></h4>

										<ul>
                                            {% for item in cart %}
                                                <li><span class="left">{{item.product_id.name}} X {{item.amount}}</span> <span class="right">RS {{item.total}}</span></li>
                                            {% endfor %}
										</ul>

										<p>Sub Total <span>RS {{total}}</span></p>
										<p>Shipping Fee <span>$00.00</span></p>

										<h4>Grand Total <span>RS {{total}}</span></h4>

										<div class="method-notice mt--25">
											<article>
												<h3 class="d-none sr-only">blog-article</h3>
												Sorry, it seems that there are no available payment methods for your state. Please contact us if you
												require
												assistance
												or wish to make alternate arrangements.
											</article>
										</div>

										<!-- <div class="term-block">
											<input type="checkbox" id="accept_terms2">
											<label for="accept_terms2">I’ve read and accept the terms & conditions</label>
										</div> -->

										<button type="submit" class="place-order w-100">Place order</button>

                                    </form>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock content %}