{% extends 'base.html' %}

{% block navbar %}
<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Login</li>
    </ol>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<main class="page-section pb--10 pt--50">
  <div class="container">
    <header class="entry-header">
      <h1 class="entry-title">My Account</h1>
    </header>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
        <!-- Login Form s-->

        <form action="/login/" method="POST">
          {% csrf_token %}
          <h4 class="login-title">Login</h4>
          <div class="login-form">
            <div class="row">
              <div class="col-md-12 col-12 mb--20">

                {% for message in messages %}
                  <p style="color:red;">{{message}}</p>
                {% endfor %}

                <label>Username or email address *</label>
                <input class="mb-0" name="username" type="text" required>
              </div>
              <div class="col-12 mb--20">
                <label>Password</label>
                <input class="mb-0" type="password" name="password" required>
              </div>
              <div class="col-md-12">
                <div class="d-flex align-items-center flex-wrap">
                  <button type="submit" class="btn btn-black   mr-3">Login</button>
                  <div class="d-inline-flex align-items-center">
                    <input type="checkbox" id="accept_terms" class="mb-0 mr-1">
                    <label for="accept_terms" class="mb-0 font-weight-400">Remember Me</label>
                  </div>
                </div>
                <p><a href="#" class="pass-lost mt-3">Lost your password?</a></p>
              </div>

            </div>
          </div>

        </form>

      </div>

      <!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">

        <form action="/register_handle/" method="POST">
          {% csrf_token %}
          <h4 class="login-title">Register</h4>
          <div class="login-form">
            <div class="row">
              <div class="col-md-12 col-12 mb--20">

                {% for message in messages %}
                  <p style="color:red;">{{message}}</p>
                {% endfor %}

                <label>Username*</label>
                {{reg_form.username}}
              </div>
              <div class="col-md-12 col-12 mb--20">
                <label>Email Address*</label>
                {{reg_form.email}}
              </div>
              <div class="col-12 mb--20">
                <label>Password*</label>
                {{reg_form.password1}}
              </div>
              <div class="col-12 mb--20">
                <label>Retype Password*</label>
                {{reg_form.password2}}
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-black">Register</button>
              </div>
            </div>
          </div>
        </form>

      </div> -->

    </div>
  </div>
</main>
{% endblock content %}
