{% extends 'base.html' %}

{% load static %}

{% block navbar %}
<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product Details</li>
        </ol>
    </div>
</nav>
{% endblock navbar %}


{% block content %}

<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<main class="product-details-section">
    <div class="container">
        <div class="pm-product-details">
            <div class="row">
                <!-- Blog Details Image Block -->
                <div class="col-md-6">
                    <div class="image-block">
                        <!-- Zoomable IMage -->

                        <img id="zoom_03" style="max-width: 450px; max-height: 400px;"
                            src="/media/{{img_thumb.image_id.image_file}}"
                            data-zoom-image="/media/{{img_thumb.image_id.image_file}}" alt="" /><br>

                        <!-- Product Gallery with Slick Slider -->
                        <div id="product-view-gallery" class="elevate-gallery">
                            <!-- Slick Single -->

                            {% for image in images %}
                            <a href="#" class="gallary-item" data-image="/media/{{image.image_id.image_file}}"
                                data-zoom-image="/media/{{image.image_id.image_file}}">
                                <img style="max-height : 50px; " src="/media/{{image.image_id.image_file}}" alt="" />
                            </a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-5 mt-md-0">
                    <div class="description-block">
                        <div class="header-block">
                            <h3>{{data.name}}</h3>
                            <div class="navigation">
                                <a href="#"><i class="ion-ios-arrow-back"></i></a>
                                <a href="#"><i class="ion-ios-arrow-forward"></i></a>
                            </div>
                        </div>
                        <!-- Rating Block -->
                        <div class="rating-block d-flex  mt--10 mb--15">
                            <div class="rating-widget">

                                

                                {% for item in p_list %}

                                    {% if item < avg_ratings %} <span class="single-rating"><i
                                        class="fas fa-star"></i></span>
                                    {% else %}
                                        <span class="single-rating"><i class="far fa-star"></i></span>
                                    {% endif %}

                                {% endfor %}

                                <!-- <a href="#" class="single-rating"><i class="fas fa-star"></i></a>
                                <a href="#" class="single-rating"><i class="fas fa-star"></i></a>
                                <a href="#" class="single-rating"><i class="fas fa-star"></i></a>
                                <a href="#" class="single-rating"><i class="fas fa-star-half-alt"></i></a>
                                <a href="#" class="single-rating"><i class="far fa-star"></i></a> -->
                            </div>
                            <p class="rating-text"><a href="#comment-form">({{all_comments}} customer review)</a></p>
                        </div>
                        <!-- Price -->
                        <p class="price"><span class="old-price">RS {{data.old_price}}</span>RS {{data.new_price}}</p>
                        <!-- Blog Short Description -->
                        <div class="product-short-para">
                            <p>
                                {{data.short_desc}}
                            </p>
                        </div>

                        <div class="status">
                            <i class="fas fa-check-circle"></i>{{data.stocks}} IN STOCK
                        </div>

                        <!-- Amount and Add to cart -->
                        <form action="/add_to_cart/" method="POST" style="display: flex; margin:20px;">
                            {% csrf_token %}


                            <div class="count-input-block">
                                <input type="number" name="amount" class="form-control text-center" value="1" min="1">
                                <input type="hidden" name="pid" value="{{data.pid}}" />
                            </div>

                            <div class="btn-block" style="margin-top:5px;margin-left:20px;">
                                <button type="submit" class="btn btn-rounded btn-outlined--primary">Add to cart</button>
                            </div>

                        </form>
                        <!-- Wishlist And Compare -->

                        <div class="btn-options">

                            <form action="/add_wish/" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="pid" value="{{data.pid}}">
                                <button type="submit" style="margin-right:10px;"><i
                                        class="ion-ios-heart-outline"></i>Add to Wishlist</buttin>
                            </form>

                            <form action="/add_compare/" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="pid" value="{{data.pid}}">
                                <button type="submit"><i class="ion-ios-shuffle"></i>Add to Compare</button>
                            </form>

                        </div>

                        <!-- Products Tag & Category Meta -->
                        <div class="product-meta mt--30">
                            <p>Categories:

                                {% for i in catss %}
                                <a href="#" class="single-meta">{{i.cat_id.cat_name}}</a>
                                {% endfor %}
                            </p>
                            <p>Tags: <a href="#" class="single-meta">{{data.tags}}</a></p>
                        </div>

                        <!-- Share Block 1 -->
                        <div class="share-block-1">
                            <ul class="social-btns">
                                <li>
                                    <!-- <a href="#" class="facebook"> -->

                                    <!-- <i class="far fa-thumbs-up"></i>
                                    <span>Facebook</span></a> -->
                                        
                                    <div class="fb-share-button" 
                                        data-href="https://localhos/product_details/?pid={{data.pid}}" 
                                        data-layout="button_count">
                                    </div>
                                    

                                </li>
                                <li>
                                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter" data-show-count="false">
                                        <i class="fab fa-twitter"></i> 
                                        <span>twitter</span>
                                    </a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                                    <!-- <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a> -->

                                </li>
                                <li><a href="#" class="google"><i class="fas fa-plus-square"></i> <span>share</span></a>
                                </li>
                            </ul>
                        </div>

                        <!-- Sharing Block 2 -->
                        <div class="share-block-2  mt--30">
                            <h4>SHARE THIS PRODUCT</h4>
                            <ul class="social-btns social-btns-2">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <!-- <div class="fb-share-button" 
                                        data-href="https://www.your-domain.com/your-page.html" 
                                        data-layout="button_count">
                                    </div> -->
                                </li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="review-section pt--60">
        <h2 class="sr-only d-none">Product Review</h2>
        <div class="container">

            <div class="product-details-tab">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">DESCRIPTION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">REVIEWS ({{all_comments}})</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <article>
                            <h2 class="d-none sr-only">tab article</h2>
                            <p>
                                {{data.long_desc}}
                            </p>
                        </article>
                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="review-wrapper">
                            <h2 class="title-lg mb--20">{{all_comments}} REVIEW FOR {{data.name}}</h2>


                            {% for comment in p_comments %}

                            <div class="review-comment mb--20">
                                <div class="avatar">
                                    <img src="{% static 'image/icon-logo/author-logo.png' %}" alt="">
                                </div>
                                <div class="text">
                                    <div class="rating-widget mb--15">

                                        <!-- <span class="single-rating"><i class="fas fa-star"></i></span>
                                            <span class="single-rating"><i class="fas fa-star"></i></span>
                                            <span class="single-rating"><i class="fas fa-star"></i></span>
                                            <span class="single-rating"><i class="fas fa-star-half-alt"></i></span>
                                            <span class="single-rating"><i class="far fa-star"></i></span> -->

                                        {% if comment.ratings != 0 %}

                                            {% for item in p_list %}

                                                {% if item < comment.ratings %} <span class="single-rating"><i
                                                    class="fas fa-star"></i></span>
                                                {% else %}
                                                    <span class="single-rating"><i class="far fa-star"></i></span>
                                                {% endif %}

                                            {% endfor %}

                                        {% endif %}

                                    </div>
                                    <h6 class="author">{{comment.userid}} – <span
                                            class="font-weight-400">{{comment.added_date}}</span> </h6>
                                    <p>{{comment.comment}}</p>
                                </div>
                            </div>

                            {% endfor %}



                            <h2 class="title-lg mb--20 pt--15">ADD A REVIEW</h2>
                            <form action="/handle_comment/" method="POST" class="mt--15 site-form ">
                                {% csrf_token %}
                                <div class="rating-row pt-2">
                                    <p class="d-block">Your Rating</p>

                                    <span class="rating-widget-block">
                                        <input type="radio" name="star" id="star1" value="5">
                                        <label for="star1"></label>
                                        <input type="radio" name="star" id="star2" value="4">
                                        <label for="star2"></label>
                                        <input type="radio" name="star" id="star3" value="3">
                                        <label for="star3"></label>
                                        <input type="radio" name="star" id="star4" value="2">
                                        <label for="star4"></label>
                                        <input type="radio" name="star" id="star5" value="1">
                                        <label for="star5"></label>
                                    </span>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="message">Comment</label>
                                                <textarea name="comment" id="message" cols="30" rows="10"
                                                    class="form-control"></textarea>
                                            </div>
                                        </div>

                                        <input type="hidden" name="product_id" value="{{data.pid}}">

                                        <!-- <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="name">Name *</label>
                                                <input type="text" id="name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="email">Email *</label>
                                                <input type="text" id="email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="website">Website</label>
                                                <input type="text" id="website" class="form-control">
                                            </div>
                                        </div> -->
                                        <div class="col-lg-4">
                                            <div class="submit-btn">
                                                <button type="submit" class="btn btn-black">Post Comment</button>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section>
        <!-- Slider bLock 4 -->
        <div class="pt--60">
            <div class="container">

                <div class="block-title">
                    <h2>YOU MAY ALSO LIKE…</h2>
                </div>
                <div class="petmark-slick-slider border normal-slider" data-slick-setting='{
                              "autoplay": true,
                              "autoplaySpeed": 3000,
                              "slidesToShow": 5,
                              "arrows": true
                          }' data-slick-responsive='[
                              {"breakpoint":991, "settings": {"slidesToShow": 3} },
                              {"breakpoint":480, "settings": {"slidesToShow": 1,"rows" :1} }
                          ]'>

                    <div class="single-slide">
                        <div class="pm-product">
                            <div class="image">
                                <a href="product-details.html"><img src="image/product/home-1/product-1.jpg" alt=""></a>
                                <span class="onsale-badge">Sale!</span>
                            </div>
                            <div class="content">
                                <h3>Convallis quam sit</h3>
                                <div class="price text-red">
                                    <span class="old">$200</span>
                                    <span>$300</span>
                                </div>
                                <div class="btn-block">
                                    <a href="cart.html" class="btn btn-outlined btn-rounded">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="pm-product">
                            <div class="image">
                                <a href="product-details.html"><img src="image/product/home-1/product-2.jpg" alt=""></a>
                                <span class="onsale-badge">Sale!</span>
                            </div>
                            <div class="content">
                                <h3>Convallis quam sit</h3>
                                <div class="price text-red">
                                    <span class="old">$200</span>
                                    <span>$300</span>
                                </div>
                                <div class="btn-block">
                                    <a href="cart.html" class="btn btn-outlined btn-rounded">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="pm-product">
                            <div class="image">
                                <a href="product-details.html"><img src="image/product/home-1/product-3.jpg" alt=""></a>
                                <span class="onsale-badge">Sale!</span>
                            </div>
                            <div class="content">
                                <h3>Convallis quam sit</h3>
                                <div class="price text-red">
                                    <span class="old">$200</span>
                                    <span>$300</span>
                                </div>
                                <div class="btn-block">
                                    <a href="cart.html" class="btn btn-outlined btn-rounded">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="pm-product">
                            <div class="image">
                                <a href="product-details.html"><img src="image/product/home-1/product-4.jpg" alt=""></a>
                                <span class="onsale-badge">Sale!</span>
                            </div>
                            <div class="content">
                                <h3>Convallis quam sit</h3>
                                <div class="price text-red">
                                    <span class="old">$200</span>
                                    <span>$300</span>
                                </div>
                                <div class="btn-block">
                                    <a href="cart.html" class="btn btn-outlined btn-rounded">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="pm-product">
                            <div class="image">
                                <a href="product-details.html"><img src="image/product/home-1/product-5.jpg" alt=""></a>
                                <span class="onsale-badge">Sale!</span>
                            </div>
                            <div class="content">
                                <h3>Convallis quam sit</h3>
                                <div class="price text-red">
                                    <span class="old">$200</span>
                                    <span>$300</span>
                                </div>
                                <div class="btn-block">
                                    <a href="cart.html" class="btn btn-outlined btn-rounded">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="pt--60">
            <div class="container">

                <div class="block-title">
                    <h2>RELATED PRODUCTS</h2>
                </div>
                <div class="petmark-slick-slider border normal-slider" data-slick-setting='{
                              "autoplay": true,
                              "autoplaySpeed": 3000,
                              "slidesToShow": 5,
                              "arrows": true
                          }' data-slick-responsive='[
                              {"breakpoint":991, "settings": {"slidesToShow": 3} },
                              {"breakpoint":480, "settings": {"slidesToShow": 1,"rows" :1} }
                          ]'>

                    <div class="single-slide">
                        <div class="pm-product">
                            <div class="image">
                                <a href="product-details.html"><img src="image/product/home-2/product-1.jpg" alt=""></a>
                                <span class="onsale-badge">Sale!</span>
                            </div>
                            <div class="content">
                                <h3>Convallis quam sit</h3>
                                <div class="price text-red">
                                    <span class="old">$200</span>
                                    <span>$300</span>
                                </div>
                                <div class="btn-block">
                                    <a href="cart.html" class="btn btn-outlined btn-rounded">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="pm-product">
                            <div class="image">
                                <a href="product-details.html"><img src="image/product/home-2/product-2.jpg" alt=""></a>
                                <span class="onsale-badge">Sale!</span>
                            </div>
                            <div class="content">
                                <h3>Convallis quam sit</h3>
                                <div class="price text-red">
                                    <span class="old">$200</span>
                                    <span>$300</span>
                                </div>
                                <div class="btn-block">
                                    <a href="cart.html" class="btn btn-outlined btn-rounded">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="pm-product">
                            <div class="image">
                                <a href="product-details.html"><img src="image/product/home-2/product-3.jpg" alt=""></a>
                                <span class="onsale-badge">Sale!</span>
                            </div>
                            <div class="content">
                                <h3>Convallis quam sit</h3>
                                <div class="price text-red">
                                    <span class="old">$200</span>
                                    <span>$300</span>
                                </div>
                                <div class="btn-block">
                                    <a href="cart.html" class="btn btn-outlined btn-rounded">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="pm-product">
                            <div class="image">
                                <a href="product-details.html"><img src="image/product/home-2/product-4.jpg" alt=""></a>
                                <span class="onsale-badge">Sale!</span>
                            </div>
                            <div class="content">
                                <h3>Convallis quam sit</h3>
                                <div class="price text-red">
                                    <span class="old">$200</span>
                                    <span>$300</span>
                                </div>
                                <div class="btn-block">
                                    <a href="cart.html" class="btn btn-outlined btn-rounded">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="pm-product">
                            <div class="image">
                                <a href="product-details.html"><img src="image/product/home-2/product-5.jpg" alt=""></a>
                                <span class="onsale-badge">Sale!</span>
                            </div>
                            <div class="content">
                                <h3>Convallis quam sit</h3>
                                <div class="price text-red">
                                    <span class="old">$200</span>
                                    <span>$300</span>
                                </div>
                                <div class="btn-block">
                                    <a href="cart.html" class="btn btn-outlined btn-rounded">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="pm-product">
                            <div class="image">
                                <a href="product-details.html"><img src="image/product/home-2/product-5.jpg" alt=""></a>
                                <span class="onsale-badge">Sale!</span>
                            </div>
                            <div class="content">
                                <h3>Convallis quam sit</h3>
                                <div class="price text-red">
                                    <span class="old">$200</span>
                                    <span>$300</span>
                                </div>
                                <div class="btn-block">
                                    <a href="cart.html" class="btn btn-outlined btn-rounded">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>
{% endblock content %}